@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&display=swap');
@import 'base/variables';
@import 'base/mixins';

/* Default styles */

html {
	overflow:auto;	
}
body {
	overflow:visible;
	height: 100%;
}
html, body {
	max-width: 100%;
}
body {
	margin: 0;
	background-color: $white;
	color: $t_dark;
	font-weight: 400;
	font-family: $f_serif;
	font-size: 17px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
button, button:active, button:focus {
	border: none;
	outline: none;
}
input:focus, textarea:focus {
	outline:0;
}
a, a:hover {
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
hr {
	margin-bottom: 25px;
	border-top: 1px solid $outline;
	color: $outline;
}
p {
	font-family: $f_serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	color: $t_dark;
}
strong {
	font-weight: 700;
}
.page {
	height: 100vh;
	&__top {
		margin-bottom: 55px;
	}
	&__title {
		margin-bottom: 50px;
	}
	&__content {
		margin-bottom: 55px;
		& p {
			margin-bottom: 38px;
		}		
	}
}
.content {
	padding: 40px 0 80px;
	&__top {
		margin-bottom: 80px;
	}
}

/* Blocks */

@import "blocks/mobile-menu";
@import "blocks/header";
@import "blocks/forms";
@import "blocks/titles";
@import "blocks/social";
@import "blocks/slider";
@import "blocks/meta";
@import "blocks/news-block";
@import "blocks/news-feed";
@import "blocks/poll";
@import "blocks/banners";
@import "blocks/load-more";
@import "blocks/footer";
@import "blocks/scroll";
@import "blocks/sidebar";
@import "blocks/article";
@import "blocks/rating";
@import "blocks/short-news";
@import "blocks/print";
@import "blocks/abc";
@import "blocks/author-block";
@import "blocks/paginator";
@import "blocks/search";
@import "blocks/error";
@import "blocks/media";


