@media (max-width: 1399px) {
	.top-slider {
		&__header {
			& > a {
				font-size: 38px;
				line-height: 41px;
			}
		}
		&__card {
			padding: 24px 35px 74px;
		}
		&--nav {
			right: 46px;
			left: 46px;
		}
	}

	.footer .menu--sm {
		& li {
			margin-right: 6px;
		}
	}
	
}