.meta {
	display: flex;
	justify-content: start;
	align-items: center;
	@include meta;
	& a {
		color: $t_gray;
		transition: color .3s;
		&:hover {
			color: $blue;
		}
	}
	&__item {
		margin-right: 23px;
		position: relative;
		& .caption {
			display: block;
			@include caption;
		}
		&.data {
			line-height: 28px;
		}
		&.tag, &.views {
			padding-left: 20px;
		}
		&:last-child {
			margin-right: 0;
		}
		&.tag:before, &.views:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 15px;
			height: 15px;
			display: block;
		}
		&.tag:before {
			background: url('../icons/meta/icon_tags.svg') center center/cover no-repeat;
		}
		&.views:before {
			background: url('../icons/meta/icon_eye.svg') center center/cover no-repeat;
		}
	}
	&__img {
		display: block;
		border-radius: 50%;
		&--left {
			height: 56px;
			width: 56px;
			margin-right: 26px;
			min-width: 56px;
			object-fit: cover;
		}
		&--right {
			width: 80px;
			height: 80px;
			object-fit: cover;
			min-width: 80px;
		}
	}
	&--mb {
		margin-bottom: 12px;
	}
	&--img {
		justify-content: space-between;
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			& span {
				margin-bottom: 20px;
			}
		}
	}
}
.label {
	color: $primary;
	border: 1px solid $primary;
	padding: 0 7px;
	line-height: 26px;
	border-radius: $radius_sm;
	margin-right: 16px;
	&--orange {
		border-color: $orange;
		color: $orange;
		position: relative;
		padding: 0 22px 0 8px;
		line-height: 23px;
		margin-right: 10px;
		&:after {
			position: absolute;
			content: '';
			background: url('../icons/meta/lightning.svg') center center/cover no-repeat;
			width: 10px;
			height: 14px;
			top: 5px;
			right: 7px;
		}
	}
}

