.container--print {
	max-width: 768px;
	min-width: 360px;
}.content--print {
	padding: 30px 0;
}
.footer--print {
	padding: 40px 0;
}
.info--print {
	margin-bottom: 20px;
	text-align: left;
}
.article__img--print {
	max-width: 100%;
}