.progress-container {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: rgba(150, 150, 150, 0.6);
	height: 5px;
	width: 100%;
}
.progress-bar {
	background-color: #2196f3;
	height: 5px;
	width: 0%;
}

