h1, h1 > a {
	font-family: $f_sans;
	font-weight: 800;
	font-size: 38px;
	line-height: 41px;
	color: $t_dark;
}

h2, h2 > a {
	font-family: $f_sans;
	font-weight: 700;
	font-size: 27px;
	line-height: 31px;
	color: $t_dark;
}

h3, h3 > a {
	font-family: $f_sans;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: $t_dark;
}